{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="tab-content">
            {{ include('MainBundle:Administracion:tabs/adm-usuarios.html.twig') }}
            {{ include('MainBundle:Administracion:tabs/adm-categorias.html.twig') }}
            {{ include('MainBundle:Administracion:tabs/adm-productos.html.twig') }}
        </div>
        <div class="col-md-3" style="margin-top: 15px;">
            <ul class="nav nav-pills nav-stacked" >
                <li class="active"><a data-toggle="tab" href="#adm-users" >Administracion de usuarios</a></li>
                <li><a data-toggle="tab" href="#adm-cat">Administracion de categorías</a></li>
                <li><a data-toggle="tab" href="#adm-products">Administracion de productos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}