<div id="edit-user-{{ user.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Usuario</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form_edit_user, { 'action': path('administracion_edit_user', { 'id': user.id })}) }}
                {{ form_widget(form_edit_user) }}
                <br>
                <div>
                    <input class="btn btn-primary btn-block" type="submit" value="Editar Usuario" />
                </div>
                {{ form_end(form_edit_user) }}
            </div>
        </div>

    </div>
</div>