<div id="edit-product-{{ producto.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Producto</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form_edit_prod, { 'action': path('administracion_edit_product', { 'id': producto.id })}) }}
                {{ form_widget(form_edit_prod) }}
                <br>
                <div>
                    <input class="btn btn-primary btn-block" type="submit" value="Editar Categoría" />
                </div>
                {{ form_end(form_edit_prod) }}
            </div>
        </div>

    </div>
</div>